@CHARSET "UTF-8";

.formlabel {
	width: 12el;
}

.message {
	color: green;
}

.warning {
	color: orange;
}

.error {
	color: red;
}

.menu {
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	color: black;
	margin: 10px;
	padding: 1el;
}

.menu:hover {
	background-color: black;
	color: white;
}

.userstable {
	border: 1px solid black;
	
}