@CHARSET "UTF-8";

#page {
	background-color: #828282;
	width: auto;
	min-width: 1100px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin: 0px;		
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#toptitle {
	background-color: #2a2525;
	color: white;	
	text-align: center;
	width: 100%;
	min-width: 1100px;
	height: 60px;
	font-size: 36px;
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
}

#top {
	background-image: url('/images/website-boven-rp.png');
    background-position: center top;
	min-width: 1100px;
	min-height: 260px; 
	padding-top: 1px;
	margin: 7px;
}

#content {
	background-image: url('/images/website-midden.gif');
    background-repeat: no-repeat; 
    background-position: center top;
    background-size: 100% 100%;
	width: auto;
	min-width: 1100px;
	height: auto;
	min-height: 1293px;	
	margin: 0px;
	padding: 0px;
	color: lightgrey;
}

.message {
	background-color: white;
	font-size: 20px;
	color: green;
	display:inline-block;
	border: 1px solid black;
	padding: 3px;
	margin-left: 15px;		
}

.warning {
	background-color: white;
	font-size: 20px;
	color: orange;
	display:inline-block;
	border: 1px solid black;
	padding: 3px;
	margin-left: 15px;	
}

.error {
	background-color: white;
	font-size: 20px;
	color: red;
	display:inline-block;
	border: 1px solid black;
	padding: 3px;
	margin-left: 15px;	
}

.view {
	 padding-top: 25px;
	 padding-bottom: 25px;
}

.menu {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 70px;
}

.item {
	float: left;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	color: black;
	margin-right: 2px; 
    margin-bottom: 2px; 
    padding: 30px;
	text-align: center;
	border: 2px solid black;
}

.item:hover {
	background-color: black;
	color: white;
}

h2 {
	background-color: white;
	color: black;
	border: 1px solid black;
	width: auto;
	display: inline-block;
	padding: 3px;
	margin-left: 15px;	
}

.formlabel {
	background-color: white;
	color: black;
	border: 1px solid black;	
	margin-top: 5px;
	display: inline-block;	
	padding: 3px;
	margin-left: 15px;	
}

.btn {
	float: left;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	color: black;
	margin-left: 15px;
	padding: 15px;
	text-align: center;
	border: 2px solid black;
}

.btn:hover {
	background-color: black;
	color: white;
}

.inftbl {
	margin: auto;
	max-width: 1050px;
}

.frmtbl {
	margin-left: 15px;
}

th, td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
}

td {
	color: black;
	background-color: white;
}

th {
	color: white;
	background-color: black;
}

.subtbl {
	border: 0px;
}

.runningstatus {
	color: white;
	background-color: green;	
}

.staticstatus {
	color: black;
	background-color: white;
}

.txt {
	float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.footer {
	background-color: #2a2525;
	color: white;	
	width: auto;
	min-width: 1000px;
	min-height: 150px;
	padding-top: 0px;
	font-size: 16px;	
}
.chargelogo {
	margin-top: 10px;
	float: right;
}	
.emclogo {
	float: right;
	margin-right: 15px;
}

#footertext {
	text-align: left;
	color: white;
	padding-top: 18px;
	font-size: 14px;
	margin-left: 15px;
}

.no-link{ 
  text-decoration: none;
 color: white;
} 

.no-link:hover { 
  text-decoration: none;
  color: #92b6cf;
} 
