@CHARSET "UTF-8";

#page {
	width: 1000px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;		
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#top {
	background-image: url('/images/website-boven.png');
    background-repeat: no-repeat;
    background-position: center top;
	width: 1000px;
	height: 260px;
	padding-top: 1px;
}

#toptitle {
	background-color: #2a2525;
	color: white;	
	text-align: center;
	width: 1000px;
	height: 15px;
	font-size: 36px;
}

#content {
	background-image: url('/images/website-midden.gif');
    background-repeat: no-repeat;
    background-position: center top;
	width: 1000px;
	height: 1293px;
	margin: 0px;
	padding: 0px;
	color: lightgrey;
}

.message {
	background-color: white;
	font-size: 20px;
	color: green;
	display:inline-block;
	border: 1px solid black;
	padding: 3px;
	margin-left: 15px;		
}

.warning {
	background-color: white;
	font-size: 20px;
	color: orange;
	display:inline-block;
	border: 1px solid black;
	padding: 3px;
	margin-left: 15px;	
}

.error {
	background-color: white;
	font-size: 20px;
	color: red;
	display:inline-block;
	border: 1px solid black;
	padding: 3px;
	margin-left: 15px;	
}

.view {
	padding: 25px;
}

.menu {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.item {
	float: left;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	color: black;
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 30px;
	text-align: center;
	border: 2px solid black;
}

.item:hover {
	background-color: black;
	color: white;
}

h2 {
	background-color: white;
	color: black;
	border: 1px solid black;
	width: auto;
	display: inline-block;
	padding: 3px;
	margin-left: 15px;	
}

.formlabel {
	background-color: white;
	color: black;
	border: 1px solid black;
	width: 12el;
	margin-top: 5px;
	display:inline-block;	
	padding: 3px;
	margin-left: 15px;	
}

.btn {
	float: left;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	color: black;
	margin-left: 15px;
	padding: 15px;
	text-align: center;
	border: 2px solid black;
}

.btn:hover {
	background-color: black;
	color: white;
}

.inftbl {
	margin: auto;
}

.frmtbl {
	margin-left: 15px; 
}

th, td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
}

td {
	color: black;
	background-color: white;
}

th {
	color: white;
	background-color: black;
}

.subtbl {
	border: 0px;
}


.runningstatus {
	color: white;
	background-color: green;	
}

.staticstatus {
	color: black;
	background-color: white;
}

 
.txt {
	float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.footer {
	background-color: #2a2525;
	color: white;	
	width: 1000px;
	height: 150px;
	padding-top: 0px;
	font-size: 16px;	
}
.chargelogo {
	margin-top: 10px;
	float: right;
}	
.emclogo {
	float: right;
	margin-right: 15px;
}

#footertext {
	text-align: left;
	color: white;
	padding-top: 18px;
	font-size: 14px;
	margin-left: 15px;
}

.no-link{ 
  text-decoration: none;
 color: white;
} 

.no-link:hover { 
  text-decoration: none;
  color: #92b6cf;
} 
